<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3players.png</string>
            <key>size</key>
            <string>{92,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4133e18c40a06ac4b24c702e3fafab6a:70704f7d1564971dd024923e8e3914f2:015ba0d0a75da53de6cb2a42d238b1a2$</string>
            <key>textureFileName</key>
            <string>3players.png</string>
        </dict>
    </dict>
</plist>
