<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar expression - lose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4286,2},{767,1430}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,34},{767,1430}}</string>
                <key>sourceSize</key>
                <string>{999,1500}</string>
            </dict>
            <key>Avatar expression - lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{923,1426}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,38},{923,1426}}</string>
                <key>sourceSize</key>
                <string>{999,1500}</string>
            </dict>
            <key>Avatar expression - lose3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2858,2},{829,1426}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,38},{829,1426}}</string>
                <key>sourceSize</key>
                <string>{999,1500}</string>
            </dict>
            <key>Avatar expression - lose4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{923,1426}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,38},{923,1426}}</string>
                <key>sourceSize</key>
                <string>{999,1500}</string>
            </dict>
            <key>Avatar expression - lose5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5718,2},{767,1430}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,34},{767,1430}}</string>
                <key>sourceSize</key>
                <string>{999,1500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lose.png</string>
            <key>size</key>
            <string>{7150,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f19f23fc8ac88da2465a8d7ccf13431:e143f3a1f91a39427e6f1e97259d1917:1eca009f66ae5fbe1e51fbfe98b6fce0$</string>
            <key>textureFileName</key>
            <string>lose.png</string>
        </dict>
    </dict>
</plist>
