<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>player0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{88,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,171}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>players.png</string>
            <key>size</key>
            <string>{92,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a594d174b4b498f2ed4af22e02f0f87b:1e1b1418bd6e12d45ab6a445efdbfa79:f47d19f1c5913ba7aa01f360e7080e93$</string>
            <key>textureFileName</key>
            <string>players.png</string>
        </dict>
    </dict>
</plist>
