<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1501},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{74,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{88,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>lose3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{80,133}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{80,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>lose4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{88,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>lose5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{74,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>wait1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{74,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>wait2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{82,133}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{82,133}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>wait3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{74,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,135}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>wait4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{78,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,135}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>wait5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{74,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,135}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{73,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{73,133}}</string>
                <key>sourceSize</key>
                <string>{99,135}</string>
            </dict>
            <key>win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{87,135}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{87,135}}</string>
                <key>sourceSize</key>
                <string>{99,135}</string>
            </dict>
            <key>win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{89,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{99,135}</string>
            </dict>
            <key>win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,135}}</string>
                <key>sourceSize</key>
                <string>{99,135}</string>
            </dict>
            <key>win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{97,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,135}}</string>
                <key>sourceSize</key>
                <string>{97,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pedro90.png</string>
            <key>size</key>
            <string>{103,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6539549011e77822ec3b921481837ed6:cd00198dcbf3c5e519af52ac77302be4:3f8d74043ee5a556d9ee8b27db5460b8$</string>
            <key>textureFileName</key>
            <string>pedro90.png</string>
        </dict>
    </dict>
</plist>
