<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_popup_wins1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0001_popup_wins2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2476},{86,90}}</string>
                <key>offset</key>
                <string>{34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,413},{86,90}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0002_popup_wins3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,2298},{170,176}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,378},{170,176}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0003_popup_wins4.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,1796},{254,274}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,331},{254,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0007_popup_wins8.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0008_popup_wins9.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1794},{888,888}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{888,888}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0038_popup_wins39.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,904},{890,888}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{890,888}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0039_popup_wins40.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0040_popup_wins41.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{888,888}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{888,888}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0068_popup_wins69.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,904},{890,888}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{890,888}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0069_popup_wins70.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0070_popup_wins71.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{890,892}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{890,892}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0071_popup_wins72.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1796},{884,882}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{884,882}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0083_popup_wins84.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,2072},{224,224}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,342},{224,224}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0084_popup_wins85.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,2476},{112,112}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,396},{112,112}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0085_popup_wins86.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0086_popup_wins87.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0087_popup_wins88.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0088_popup_wins89.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0089_popup_wins90.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0090_popup_wins91.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0091_popup_wins92.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0092_popup_wins93.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0093_popup_wins94.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0094_popup_wins95.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0095_popup_wins96.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0096_popup_wins97.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2786,2568},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130000.png</string>
            <key>size</key>
            <string>{2928,2686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130000.png</string>
        </dict>
    </dict>
</plist>
