<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0012_popup_wins13.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{836,836}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{836,836}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0013_popup_wins14.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1674},{824,824}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{824,824}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0032_popup_wins33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1676},{824,822}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{824,822}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0033_popup_wins34.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,840},{834,834}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{834,834}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0044_popup_wins45.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{832,832}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{832,832}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0063_popup_wins64.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{830,830}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{830,830}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0076_popup_wins77.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,840}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{840,840}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0077_popup_wins78.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,840},{832,832}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{832,832}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0078_popup_wins79.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1678},{824,822}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{824,822}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0081_popup_wins82.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2506,1674},{456,456}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,228},{456,456}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130003.png</string>
            <key>size</key>
            <string>{2964,2502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130003.png</string>
        </dict>
    </dict>
</plist>
