<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0006_popup_wins7.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2302},{694,694}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,102},{694,694}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0018_popup_wins19.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{760,760}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{760,760}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0021_popup_wins22.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,2256},{722,722}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,105},{722,722}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0022_popup_wins23.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2284},{708,708}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,113},{708,708}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0024_popup_wins25.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2204,1522},{732,732}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,99},{732,732}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0026_popup_wins27.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{754,754}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{754,754}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0027_popup_wins28.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,766}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{766,766}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0050_popup_wins51.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{750,762}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{750,762}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0051_popup_wins52.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,764},{738,756}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{738,756}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0052_popup_wins53.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1538},{724,750}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,77},{724,750}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0053_popup_wins54.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2290},{708,744}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,77},{708,744}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0054_popup_wins55.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1532},{722,750}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{722,750}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0055_popup_wins56.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,758},{734,756}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,76},{734,756}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0056_popup_wins57.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,770},{746,760}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{746,760}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0057_popup_wins58.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{758,766}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,76},{758,766}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0079_popup_wins80.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,2},{698,698}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,108},{698,698}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130006.png</string>
            <key>size</key>
            <string>{2988,3000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130006.png</string>
        </dict>
    </dict>
</plist>
