<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0004_popup_wins5.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2614,1756},{362,388}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,269},{362,388}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0009_popup_wins10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{876,874}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{876,874}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0010_popup_wins11.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{862,862}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{862,862}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0036_popup_wins37.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,882},{868,866}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{868,866}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0037_popup_wins38.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{878,878}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{878,878}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0041_popup_wins42.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,880},{874,874}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{874,874}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0066_popup_wins67.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1756},{866,864}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{866,864}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0067_popup_wins68.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{878,876}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{878,876}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0072_popup_wins73.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{874,874}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{874,874}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0073_popup_wins74.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1752},{866,866}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{866,866}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0082_popup_wins83.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2614,2146},{338,340}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,284},{338,340}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130001.png</string>
            <key>size</key>
            <string>{2978,2622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130001.png</string>
        </dict>
    </dict>
</plist>
