<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0019_popup_wins20.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{748,748}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{748,748}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0020_popup_wins21.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{736,736}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,97},{736,736}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0023_popup_wins24.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2236,2},{720,720}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{720,720}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0025_popup_wins26.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{744,744}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{744,744}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130007.png</string>
            <key>size</key>
            <string>{2958,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130007.png</string>
        </dict>
    </dict>
</plist>
