<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0011_popup_wins12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1716},{850,850}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{850,850}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0034_popup_wins35.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,860},{844,846}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{844,846}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0035_popup_wins36.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{856,856}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{856,856}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0042_popup_wins43.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,860}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{860,860}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0043_popup_wins44.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{846,846}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{846,846}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0064_popup_wins65.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{842,842}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{842,842}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0065_popup_wins66.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,860},{854,854}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{854,854}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0074_popup_wins75.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{858,858}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{858,858}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>_0075_popup_wins76.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1716},{848,848}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{848,848}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win130002.png</string>
            <key>size</key>
            <string>{2566,2573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c8a21258fb51d6cea278edfe4ed8f:689fa73db0130ff5c4d6506468cb9b27:7bd9517a8a620e97e6dd5bdce4d6f7c1$</string>
            <key>textureFileName</key>
            <string>win130002.png</string>
        </dict>
    </dict>
</plist>
